@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #DDDDDD;
    --cor2: #EFEFEF;
}   

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--cor2);
    font-family: sans-serif;
    
}

.header {

    background-color: var(--cor1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.brand__name {
    font-weight: bold;
    font-size: 1.5em;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}



.navbar a {
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-size: 0.8rem;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
    color: black;
}


.navbar-escondido,
.burger {
    display: none;
}


.input-container {
    position: relative;
}

.icon-glass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


.search__bar {
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 8px;
}

.main__section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.news-section {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px 20px;
    

}

.news-card {
    max-width: 280px;
    min-height: 350px;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.308);
}

.news-card-title {
    font-size: 1em;
}

.news-card p {
    font-size: 1rem;
}

.news-card-button {
    cursor: pointer;
    border: none;
    padding: 10px 0px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.308);
}

.news-card-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

footer {
    background-color: var(--cor1);
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    
}

@media (max-width: 768px) {

    .header {
        position: relative;
        padding: 20px 40px;
        justify-content: space-between;
        
    }

    .navbar {
        display: none;
    }

    .navbar-escondido {
        
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.486);
        position: absolute;
        top: 50px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        border-radius: 10px;
    }

    

    .navbar-escondido a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.747);
        font-weight: bold;

    }

    .burger {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #menu-toggle:checked ~ .navbar-escondido {
        min-height: 300px;
        padding: 20px;
    }

    .navbar-escondido a:hover {
        text-decoration: underline;
        color: white;
    }

}